{% extends "base-site.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-title-area">
        TITLE
    </div>

    <div class="main-content-inner">
        CONTENT
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/plugins.js"></script>
<script src="/static/assets/js/scripts.js"></script>

{% endblock javascripts %}
