{% extends "base-site-error.html" %}

{% block title %} Page 404 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="error-area ptb--100 text-center">
    <div class="container">
        <div class="error-content">
            <h2>500</h2>
            <p>Internal Server Error!</p>
            <a href="/">Back to Dashboard</a>
        </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
